<!-- Join us form -->
<body>
  <form action="/" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
      <h1 class="text-center">Register Form</h1>
      <input [(ngModel)]="user.name" type="text" name="name" placeholder="User Name">
      <input [(ngModel)]="user.email" type="text" name="email" placeholder="Email">
      <input [(ngModel)]="user.password" type="text" name="password" placeholder="Password">
      <div class="row">
          <div class="col-md-12">
              <button class="col-md-9" (click)="add()" type="button" href="/">Submit</button>
              <button class="col-md-2 offset-md-1" type="button" routerLink="/">Home</button>
          </div>
      </div>
    </div>
  </form>
</body>

<!-- Styles -->
  