<!-- Home Page-->
<body>
  
  <form action="/" >
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
      <h1 class="text-center">Test-SIS DataBase Page</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of ListUsers">
              <th>{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>
                  <button class="inner-button" (click)="update(user.id!)" type="button" >Update</button>
              </td>
              <td>
                  <button class="inner-button" (click)="delete(user.id!)" type="button" >Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        

      <button class="col-md-12"routerLink="/add" type="button" >Register to Our Page!</button>
    </div>
  </form>
</body>


